<style>
  @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

:root{
    /* *Color */
    /* Primary Colors */
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* Neutral Colors */
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

    /* Font */
    font-family: 'Karla', sans-serif;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
    color: var(--light-gray);
    font-weight: 400;
}

a{
    text-decoration: none;
    color: #f6f6f6;
}

.container{
    width: 1440px;
    min-height: 95vh;
}

.seo-only{
    display: none;
}

/* *Container */
main.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *Card */
main .card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .75fr 1fr;
    border-radius: 10px;
    box-shadow: 1px 5px 20px 2px rgb(194, 216, 228);
    width: 45%;
}

/* Card Header */
main .card .card-header{
    grid-area: 1 / 1 / span 1 / span 2;
    background-color: #fff;
    border-radius: 10px;
    padding: 2.5rem 2.5rem;
}
main .card .card-header h2{
    color: var(--cyan);
    margin-bottom: 1.5rem;
    letter-spacing: -0.3px;
}
main .card .card-header h3{
    font-size: 1.13rem;
    color: var(--bright-yellow);
    margin-bottom: 0.75rem;
    letter-spacing: -0.3px;
}
main .card .card-header p{
    color: var(--grayish-blue);
    line-height: 1.6;
}

/* Card Price */
main .card .card-price{
    background-color: var(--cyan);
    border-radius: 0 0 0 10px;
    padding: 2.5rem 2.5rem;
}
main .card .card-price h3{
    color: #fff;
}
main .card .card-price p:nth-child(2){
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.441);
    margin-top: 1rem;
}
main .card .card-price p span{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-right: .5rem;
}

main .card .card-price p:nth-child(3){
    color: var(--light-gray);
    margin-top: .5rem;
}
main .card .card-price a{
    display: block;
    text-align: center;
    background-color: var(--bright-yellow);
    border: 2px solid var(--bright-yellow);
    border-radius: 5px;
    font-weight: 700;
    padding: .75rem 1.5rem;
    margin-top: 2rem;
    box-shadow: 1px 3px 10px hsl(179, 75%, 30%);
    transition: background-color .3s;
}
main .card .card-price a:hover{
    background-color: transparent;
    color: var(--bright-yellow);
    box-shadow: none;
}

/* Card Why Us */
main .card .card-why-us{
    background-color: hsla(179, 62%, 43%, 0.8);
    border-radius: 0 0 10px 0px;
    padding: 2.5rem 2.5rem;
}
main .card .card-why-us h3{
    color: var(--light-gray);
    margin-bottom: 1.25rem;
}
main .card .card-why-us li{
    font-size: .875rem;
    font-weight: 300;
    color: rgba(255, 255, 255, .6);
    line-height: 1.5;
}


/* *Footer */
.attribution{ 
    font-size: 11px; 
    text-align: center; 
}
.attribution a{
    color: var(--cyan); 
}
.attribution a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 375px){
    /* *Container */
    .container{
        width: 100vw;
        min-height: 95vh;
    }

    /* *Card */
    main .card{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        width: 90%;
    }

    /* Card Header */
    main .card .card-header{
        grid-area: 1 / 1 / span 1 / span 1;
        padding: 1.5rem 1.5rem;
        border-radius: 8px 8px 0 0;
    }

    /* Card Price */
    main .card .card-price{
        padding: 1.5rem 1.5rem;
        border-radius: 0 0 0 0;
    }


    /* Card Why Us */
    main .card .card-why-us{
        padding: 1.5rem 1.5rem;
        border-radius: 0 0 8px 8px;
    }

    /* *Footer */
    .attribution{ 
        margin: 1rem;
    }
}
</style>

<main class="container">
  <h1 class="seo-only">Frontend Mentor - Single Price Grid Component</h1>

  <!-- Card Component -->
  <div class="card">

    <!-- Card Header -->
    <div class="card-header">
      <h2>Join our community</h2>
      <h3>30-day, hassle-free money back guarantee</h3>
      <p>Gain access to our full library of tutorials along with expert code reviews. Perfect for any developers who are serious about honing their skills.</p>
    </div>

    <!-- Card Price -->
    <div class="card-price">
      <h3>Monthly Subscription</h3>

      <p><span>$29</span> per month</p>
      <p>Full access for less than $1 a day</p>

      <a href="#">Sign Up</a>
    </div>

    <!-- Card Why Us -->
    <div class="card-why-us">
      <h3>Why Us</h3>
      <ul>
        <li>Tutorials by industry experts</li>
        <li>Peer & expert code review</li>
        <li>Coding exercises</li>
        <li>Access to our GitHub repos</li>
        <li>Community forum</li>
        <li>Flashcard decks</li>
        <li>New videos every week</li>
      </ul>
    </div>
  </div>
</main>

<footer>
  <p class="attribution">
    Challenge by <a href="https://www.frontendmentor.io/profile/sonatipek" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://github.com/sonatipek">Sonat Saygın İpek</a>.
  </p>
</footer>